.form{
    // width: 90%;
    font-size: 1.5rem;
    &__group{
        margin-bottom: 2rem;
        position: relative;
    }
    &__input{
        display: inline-block;
        padding-inline: 2rem; 
        padding-block: 2rem 1rem;
        border-radius: 2px;
        border: none;
        font-family: inherit;
        color: inherit;
        width: 90%;
        border-bottom: 3px solid transparent;
        transition: all .3s;
        margin-bottom: 1rem;
        @include response-to(lg){
            width: 70%;
        }
        &:focus{
            outline: none;
            border-bottom: 3px solid $color-primary-dark;
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-light;
        }
        &::placeholder{
            font-family: inherit;
            color: $color-grey-dark-1;
        }

        
    }
    // &__text{
   
    // }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-4rem);
        visibility: none;
    }
    &__label{
        margin-left: 1.9rem;
        position: absolute;
        font-size: 1rem;
        transform: translateY(-5.5rem);
        transition: all .3s;
    }
    &__radio-group{
        display: inline-block;
        width: 49%;
        margin-top: 4rem;
    }
    &__radio-input{
        display: none;
    }
    &__radio-label{
        display: inline-block;
        font-size: $default-font-size;
        position: relative;
        padding-left: 4rem;
    }
    &__radio-button{ 
        width: 3rem;
        height: 3rem;
        border: 5px solid $color-primary-dark;
        border-radius: 50%;
        position: absolute;
        top: -.1rem;
        left: 0;
    

        &::after{

            content: "";
            display: block;
            width: 70%;
            height: 70%;
            background-color: $color-primary-dark;
            border-radius: 50%;
            @include absCenter;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .1s;
            
        }
    

        
    }
    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;

    }

}