.form{
    // width: 90%;
    font-size: 1.5rem;
    &__group{
        margin-bottom: 2rem;
        position: relative;
    }
    &__input{
        display: block;
        padding-inline: 2rem; 
        padding-block: 2rem 1rem;
        border-radius: 2px;
        border: none;
        font-family: inherit;
        color: inherit;
        width: 90%;
        border-bottom: 3px solid transparent;
        transition: all .3s;
        margin-bottom: 1rem;

        &:focus{
            outline: none;
            border-bottom: 3px solid $color-primary-dark;
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-light;
        }
        &::placeholder{
            color: $color-grey-dark-1;
        }

        
    }
    &__text{

    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-4rem);
        visibility: none;
    }
    &__label{
        margin-left: 1.9rem;
        position: absolute;
        font-size: 1rem;
        transform: translateY(-5.5rem);
        transition: all .3s;
    }
}