.popup{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black, .8);
    z-index: 200;


    &__content{
        @include absCenter;
        width: 75%; 
        box-shadow: 0 1rem 4rem rgba($color-black, .2);
        transform: translate(-50%, -50%);
        background-color: $color-white;
        display: table;
        
    }
    &__left{
        width: calc(100%/3);
        display: table-cell;
         
    }
    &__right{
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem ;
    }
    &__img{
        width: 100%;
        display: block;

    }
    &__text{
        column-count: 2;
        column-rule: 1px solid $color-grey-dark-1;
        column-gap: 4rem;
        font-size: $default-font-size;
        hyphens: auto;

    }
}