body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: grey;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation: moveInRight 1s ease-out;

        @include response-to(xxl){
            font-size: 5.8rem; 
            
        }
        @include response-to(xl){
            font-size: 5.5rem;
        }
        @include response-to(lg){
            font-size: 5rem;
        }
        @include response-to(md){
            font-size: 4.5rem;
            letter-spacing: 1;
        }
        @include response-to(sm){
            font-size: 3.5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
        animation: moveInLeft 1s ease-out;
        @include response-to(xxl){
            font-size: 1.8rem;
            letter-spacing: 1.5rem;
  
        }
        @include response-to(lg){
            font-size: 1.5rem;
            letter-spacing: 1.3rem;
        }
        @include response-to(sm){
            font-size: 1rem;
            letter-spacing: 1;
        }
    }
}
%default-button {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all 0.2s;
    position: relative;

    //change for <button> element

    border: none;
    cursor: pointer;

}

.heading-secondary{
    background-image: linear-gradient(to right , $color-primary-light, $color-primary-dark);
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;

    transition: all .2s;

    @include response-to(md){
        font-size: 3rem;
    }
    @include response-to(sm){
        font-size: 2.5rem;
    }
    

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }

}
.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: $default-font-size; 
    &:not(:last-child){
        margin-bottom: 5rem;
    }
}